.putIn_up{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #f3f3f3;
    line-height: 80px;
    overflow: hidden;
}
.putIn_btn1{
    display: inline-block;
    padding: 4px 34px;
    border-radius:20px;
    font-size: 14px;
    cursor: pointer;
    background: -ms-linear-gradient(top, #1c51a3,  #5a8bc9);
    background:-moz-linear-gradient(top,#1c51a3,#5a8bc9);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#1c51a3), to(#5a8bc9));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c51a3), to(#5a8bc9));
    background: -webkit-linear-gradient(top, #1c51a3, #5a8bc9);
    background: -o-linear-gradient(top, #1c51a3, #5a8bc9);
    box-shadow:0 -2px 5px #4374ae inset;
}
.putIn_num{
    width: 200px;
    height: 26px;
    margin-right: 30px;
}
.putIn_do{
    border: 0;
    border-radius: 8px;
    background: #666;
    color:#fff;
    width: 120px;
    height: 30px;
    margin-right: 20px;
    line-height: 30px;
}
.putIn_do:hover{
    background: #2eb2e8;
}
.putIn_btn{
    display: inline-block;
    padding: 4px 34px;
    border-radius:20px;
    font-size: 14px;
    cursor: pointer;
    background: -ms-linear-gradient(top, #1c51a3,  #5a8bc9);
    background:-moz-linear-gradient(top,#1c51a3,#5a8bc9);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#1c51a3), to(#5a8bc9));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c51a3), to(#5a8bc9));
    background: -webkit-linear-gradient(top, #1c51a3, #5a8bc9);
    background: -o-linear-gradient(top, #1c51a3, #5a8bc9);
    box-shadow:0 -2px 5px #4374ae inset;
}
.putIn_btn_T{
    display: inline-block;
    padding: 4px 34px;
    border-radius:20px;
    font-size: 14px;
    cursor: pointer;
    color:#333;
    background: -ms-linear-gradient(top, #d6e2f2,  #f5faff);
    background:-moz-linear-gradient(top,#d6e2f2,#f5faff);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#d6e2f2), to(#f5faff));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d6e2f2), to(#f5faff));
    background: -webkit-linear-gradient(top, #d6e2f2, #f5faff);
    background: -o-linear-gradient(top, #d6e2f2, #f5faff);
    box-shadow:0 -2px 5px #c4d1e1 inset;
}
.putIn_btn_T1{
    display: inline-block;
    padding: 4px 29px;
    border-radius:20px;
    font-size: 14px;
    cursor: pointer;
    background: -ms-linear-gradient(top, #3975c7,  #4c83cc);
    background:-moz-linear-gradient(top,#3975c7,#4c83cc);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#3975c7), to(#4c83cc));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3975c7), to(#4c83cc));
    background: -webkit-linear-gradient(top, #3975c7, #4c83cc);
    background: -o-linear-gradient(top, #3975c7, #4c83cc);
    box-shadow:0 1px 1px #c4d1e1 inset;
    color: #fff;
}
/*导航q*/
a{text-decoration:none!important;}
.add_nav_box{
    height: 118px;
    width: 100%;
    line-height: 118px;
    background: -ms-linear-gradient(top, #436eaf,  #7da5da);
	background:-moz-linear-gradient(top,#436eaf,#7da5da);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#436eaf), to(#7da5da));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#436eaf), to(#7da5da));
	background: -webkit-linear-gradient(top, #436eaf, #7da5da);
	background: -o-linear-gradient(top, #436eaf, #7da5da);
}
.add_nav{padding:0 15px;}
.add_nav_ul{height:118px;}
.add_nav_ul li{
    cursor: pointer;
    height:118px;
}
.add_nav_ul li a{
    display: inline-block;
    padding:0px 18px;
    border: 1px solid transparent;
    font-family:"微软雅黑";
    color:#fff;
    margin-top:15px;
    height:84px;
    border-radius:3px;
}
.add_nav_ul li a.select{
    background:-webkit-gradient(linear, left top, left bottom, from(#123a77), to(rgba(85, 140, 217, 0.8)));
    background:-webkit-linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
    background:-o-linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
    background:-moz-linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
    background:linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
    border-radius:5px;
    color:#9fc9ff;
    /* box-sizing:border-box;
    border:1px solid transparent;
    background-clip:padding-box,border-box;
    background-origin:padding-box,border-box;
    background-image:linear-gradient(#6d90c4,#6d90c4),linear-gradient(#557cb3,#496ea1);  */
}
.add_nav_ul li:nth-child(1){margin-left: 0;}
.add_nav_ul li a:hover{
    /* color: #078FFF;
    border-bottom: 2px solid #078FFF; */
    background:-webkit-gradient(linear, left top, left bottom, from(#123a77), to(rgba(85, 140, 217, 0.8)));
    background:-webkit-linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
    background:-o-linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
    background:-moz-linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
    background:linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
    color:#9fc9ff;
}
.add_nav_ul li a i{
    position: absolute;
    top: -32px;
    left: 29px;
    font-size: 33px;
}
.sanjiao{
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #184488;
    border-left: 10px solid transparent;
    bottom: 0px;
    left: 38px;
}
/* .add_nav_ul li a.current{
	color: #078FFF;
	border-bottom: 2px solid #078FFF
} */
.add_nav_ul_right{
    cursor: pointer;
  /*   height:28px; */
    width:100px;
    border-radius:20px;
    line-height:28px;
    text-align:center;
    background:-webkit-gradient(linear, left top, left bottom, from(#f7fafe), to(rgba(216, 228, 246, 1)));
    background:-webkit-linear-gradient(top, #f7fafe, rgba(216, 228, 246, 1));
    background:-o-linear-gradient(top, #f7fafe, rgba(216, 228, 246, 1));
    background:-moz-linear-gradient(top, #f7fafe, rgba(216, 228, 246, 1));
    background:linear-gradient(top, #f7fafe, rgba(216, 228, 246, 1));
    box-shadow:0 1px 5px 0px #4889df;
}
.add_nav_ul_right2{
    cursor: pointer;
 /*    height:28px; */
    width:100px;
    border-radius:20px;
    line-height:28px;
    text-align:center;
    background:#f5f5f5;
    /* background:-webkit-gradient(linear, left top, left bottom, from(#f7fafe), to(rgba(216, 228, 246, 1)));
    background:-webkit-linear-gradient(top, #f7fafe, rgba(216, 228, 246, 1));
    background:-o-linear-gradient(top, #f7fafe, rgba(216, 228, 246, 1));
    background:-moz-linear-gradient(top, #f7fafe, rgba(216, 228, 246, 1));
    background:linear-gradient(top, #f7fafe, rgba(216, 228, 246, 1)); */
    box-shadow:0 1px 5px 0px #4889df;
    color:#999;
}
/*搜索栏q-*/
.success_seach_box{
    height:100px;
    background: -ms-linear-gradient(top, #1c51a3,  #5a8bc9);
    background:-moz-linear-gradient(top,#1c51a3,#5a8bc9);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#1c51a3), to(#5a8bc9));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c51a3), to(#5a8bc9));
    background: -webkit-linear-gradient(top, #1c51a3, #5a8bc9);
    background: -o-linear-gradient(top, #1c51a3, #5a8bc9);
    border-radius:5px;
    position: relative;
}
.success_search_div{
    border:4px solid #448fd8;
    border-radius:20px;
    margin-top:34px;
    position: absolute;
}
.success_search_div1{
    border:4px solid #448fd8;
    border-radius:20px;
    margin-top: -6px;
   margin-right: 10px;
}
.success_seach{
    width: 200px;
    height: 30px;
    -moz-box-shadow:0px 3px 3px #a7abae inset;
    -webkit-box-shadow:0px 3px 3px #a7abae inset;
    box-shadow:0px 3px 3px #a7abae inset;
    line-height: 30px;
    padding-left: 5px;
    border-radius: 20px;
    outline:none;
    border: none;
}
.success_search_img{
    width:45px;
    height:36px;
    text-align:center;
    line-height:36px;
    background:#3c77c8;
    border-radius:5px;
    margin-top:38px;
    box-shadow:0px 0px 0px 1px #588acd;
    position: absolute;
    left: 420px;
}
.success_no_button{
    border: 0;
    box-shadow: none;
    background: none;
    margin-top:38px;
}
.success_no_button img{width: 30px;height: 30px;margin-top:-5px;}
/*表格头部q*/
.success_message_table_top{
    box-sizing:border-box;
    border:4px solid transparent;
    background-clip:padding-box,border-box;
    background-origin:padding-box,border-box;
    background-image:linear-gradient(#fff,#fff),linear-gradient(#d4d3d3,#f9f9f9);
    border-radius:20px;
    display:-webkit-flex;
    display:flex;
    width: 100%;
    height: 35px;
    line-height: 35px;
    margin-top: 20px;

}
.success_message_table_content{
    display:-webkit-flex;
    display:flex;
    width: 100%;
    height: 38px;
    line-height: 38px;
}
.success_message_table_top div{
    background: -ms-linear-gradient(top, #2366c2,  #5fb2fd);
    background:-moz-linear-gradient(top,#2366c2,#5a8bc9);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#2366c2), to(#5fb2fd));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2366c2), to(#5fb2fd));
    /*background: -webkit-linear-gradient(top, #12366c2, #5fb2fd);*/
    background: -o-linear-gradient(top, #2366c2, #5fb2fd);
    color:#fff!important;
}
.success_message_table_top div:nth-child(1){
    border-radius:20px 0 0 20px;
}
.success_message_table_top div:last-child{
    border-radius:0 20px 20px 0;
}
.success_message_table_top div,.success_message_table_content div{
    -webkit-flex:1 1 100%;flex:1 1 100%;
    font-size: 14px;
    color: #333;
    padding-left: 5px;
    line-height:30px;
}
.success_message_table_content div{
    line-height:38px;
}
.success_message_table_content{
    border-bottom:1px solid #ececec;
}
.success_message_table_content:hover{
    background:#e1f2fd;
    border-radius:3px;
    border:0;
    box-shadow:0 1px 3px 0px #dcdcdc;
}
.success_message_table_content a{text-decoration: none;}
.success_message_table_content div{
    border-top: 0;
    color: #888;
    font-size: 12px;
}
/*表格内容q*/
.fc_f3{color: #f3685e!important;}
.success_message_table_zhan{
    display: inline-block;
    border-radius:20px;
    width:70%;
    height:8px;
    background: -ms-linear-gradient(top, #e9e7e5,  #e3e1e0);
    background:-moz-linear-gradient(top,#e9e7e5,#e3e1e0);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#e9e7e5), to(#e3e1e0));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9e7e5), to(#e3e1e0));
    background: -webkit-linear-gradient(top, #e9e7e5, #e3e1e0);
    background: -o-linear-gradient(top, #e9e7e5, #e3e1e0);
}
.success_message_table_zhan.current_zhan{
    background: -ms-linear-gradient(top, #fc9d71,  #f26152);
    background:-moz-linear-gradient(top,#fc9d71,#f26152);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#fc9d71), to(#f26152));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fc9d71), to(#f26152));
    background: -webkit-linear-gradient(top, #fc9d71, #f26152);
    background: -o-linear-gradient(top, #fc9d71, #f26152);
}
/*仓库信息栏q*/
.success_message,.success_table_back{
    padding: 10px 18px;
    background:#fff;
    box-shadow:1px 1px 13px 0px #b9c7da;
    border-radius:3px;
}
.success_table_back{padding-bottom:40px;}
.success_message_ul li{
    float: left;
    width: 13.75%;
}
.success_message_ul li:nth-child(1){
    width: 20%;
}
.success_message_ul li:nth-child(2){
    width: 25%;
}
.success_message_address{
    display: inline-block;
    width: 144px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

/* 模态框 */
.modalTabs{
    background-size:100% 100%;
    position: absolute;
    z-index: 10001;
    top: 50%;
    left: 50%;
    margin-left: -384px;
    margin-top: -235px;
}
.message_mod_tit{
    text-align:left;
    padding-left: 30px;
    color:#fff;
    line-height:60px;
    font-size:18px;
    border-bottom: 1px solid #eee;
    background: -ms-linear-gradient(top, #3461a4,  #6393d3);
    background:-moz-linear-gradient(top,#3461a4,#6393d3);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#3461a4), to(#6393d3));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3461a4), to(#6393d3));
    background: -o-linear-gradient(top, #3461a4, #6393d3);
}
.message_mod_main{
    width:585px;
    height:293px;
    margin:38px auto;
}

.message_mod_foot{
    text-align: right;
    margin-top: 20px;
}

.move_haveStrUl{
    list-style: none;
    overflow: auto;
    height: 236px;
    margin-top: 20px;
    border:1px solid #59afff;
    padding:0 20px;
    border-radius: 6px;
}
.move_haveStrUl li{
    padding-left: 20px;
    font-size: 16px;
    color:#333;
    line-height: 36px;
    border-bottom: 1px dotted #eee;
}
.move_haveStrUl li:hover{
    background:#e1f2fd;
    border-radius:3px;
    border:0;
    box-shadow:0 1px 3px 0px #dcdcdc;
}
.move_haveStrLiAct{
    background:#e1f2fd;
    border-radius:3px;
    border:0;
    box-shadow:0 1px 3px 0px #dcdcdc;
}


@media screen and (min-width:1600px) and (max-width:1800px) {
	.success_seach_box{
    	height:200px;
	}
	.qiD1{
		left:24px !important;
		top:120px !important;
	}
	.qiD2{
		left:62px !important;
		top:80px !important;
	}
	.zuoY1{
		left:20px !important;
		top:120px !important;
	}
	.zuoY2{
		left:70px !important;
		top:78px !important;
	}
	.zhuangT1{
		left:299px !important;
		top:120px !important;
	}
	.zhuangT2{
		left:336px !important;
		top:80px !important;
	} 
}
@media screen and (max-width: 1800px) {
  .zhuangT1{
		left:155px !important;
		top:120px !important;
	}
	.zhuangT2{
		left:205px !important;
		top:80px !important;
	} 
	
}
@media screen and (min-width:1460px) and (max-width:1600px) {
	.success_seach_box{
    	height:200px;
	}
	.fangX3{
		left:24px !important;
		top:120px !important;
	}
	.fangX4{
		left:62px !important;
		top:80px !important;
	}
	.qiD1{
		left:156px !important;
		top:120px !important;
	}
	.qiD2{
		left:195px !important;
		top:80px !important;
	}
 .zuoY1{
		left:20px !important;
		top:120px !important;
	}
	.zuoY2{
		left:70px !important;
		top:80px !important;
	}
	.zhuangT1{
		left:299px !important;
		top:120px !important;
	}
	.zhuangT2{
		left:336px !important;
		top:80px !important;
	} 
}


@media screen and (min-width:1280px) and (max-width:1460px) {
	.success_seach_box{
    	height:200px;
	}
	.add_nav_ul_right{
		margin-top:50px !important;
	}
	.add_nav_ul_qi{
		margin-top: 50px !important;
    margin-right: 10px !important;
	}
	.fangX1{
		left:24px !important;
		top:120px !important;
	}
	.fangX2{
		left:60px !important;
		top:80px !important;
	}
	.fangX3{
		left:155px !important;
		top:120px !important;
	}
	.fangX4{
		left:205px !important;
		top:80px !important;
	}
	.zuoY1{
		left:20px !important;
		top:120px !important;
	}
	.zuoY2{
		left:70px !important;
		top:80px !important;
	}
	.zhuangT1{
		left:420px !important;
		top:120px !important;
	}
	.zhuangT2{
		left:460px !important;
		top:80px !important;
	}
	.qiD1{
		left:290px !important;
		top:120px !important;
	}
	.qiD2{
		left:330px !important;
		top:80px !important;
	}
}

@media screen and (max-width:1280px) {
	/* .success_seach_box{
    	height:200px;
	}
	.add_nav_ul_right{
		margin-top:30px !important;
	}
	.add_nav_ul_qi{
		    margin-top: 30px !important;
    		margin-right: 10px !important;
	}
	.fangX1{
		left:24px !important;
		top:120px !important;
	}
	.fangX2{
		left:60px !important;
		top:80px !important;
	}
	.fangX3{
		left:155px !important;
		top:120px !important;
	}
	.fangX4{
		left:205px !important;
		top:80px !important;
	}
	.zuoY1{
		left:20px !important;
		top:120px !important;
	}
	.zuoY2{
		left:70px !important;
		top:80px !important;
	}
	.zhuangT1{
		left:420px !important;
		top:120px !important;
	}
	.zhuangT2{
		left:460px !important;
		top:80px !important;
	}
	.qiD1{
		left:290px !important;
		top:120px !important;
	}
	.qiD2{
		left:330px !important;
		top:80px !important;
	} */
	.success_seach_box{
    	height:200px;
	}
	.add_nav_ul_right{
		margin-top:50px !important;
	}
	.add_nav_ul_qi{
		margin-top: 50px !important;
    margin-right: 10px !important;
	}
	.fangX1{
		left:796px !important;
		top:41px !important;
	}
	.fangX2{
		left:838px !important;
		top:0px !important;
	}
	.fangX3{
		left:934px !important;
		top:41px !important;
	}
	.fangX4{
		left:976px !important;
		top:0px !important;
	}
	.zuoY1{
		left:20px !important;
		top:120px !important;
	}
	.zuoY2{
		left:70px !important;
		top:80px !important;
	}
	.zhuangT1{
		left:160px !important;
		top:120px !important;
	}
	.zhuangT2{
		left:200px !important;
		top:80px !important;
	}
	.qiD1{
		left:24px !important;
		top:120px !important;
	}
	.qiD2{
		left:64px !important;
		top:80px !important;
	}
	
} 