body{background:#d8e9ff;}
.history_black{
    height: 118px;
    width: 100%;
    line-height: 118px;
    background: -ms-linear-gradient(top, #436eaf,  #7da5da);
	background:-moz-linear-gradient(top,#436eaf,#7da5da);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#436eaf), to(#7da5da));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#436eaf), to(#7da5da));
	background: -webkit-linear-gradient(top, #436eaf, #7da5da);
	background: -o-linear-gradient(top, #436eaf, #7da5da);
}
.history_nav,.history_back{
    padding-bottom:  18px;
    background:#fafafa;
    box-shadow:1px 1px 13px 0px #b9c7da;
    border-radius:3px;
    /* padding-bottom:120px */
    overflow: hidden;
}
.history_back{padding-bottom:40px;}
.history_all,.history_delect{
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: -ms-linear-gradient(top, #f5f8fd,  #dae6f5);
    background:-moz-linear-gradient(top,#f5f8fd,#dae6f5);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#f5f8fd), to(#dae6f5));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f8fd), to(#dae6f5));
    background: -webkit-linear-gradient(top, #f5f8fd, #dae6f5);
    background: -o-linear-gradient(top, #f5f8fd, #dae6f5);
    box-shadow:0 2px 3px 0 #e0e0e0;
    border-radius: 20px;
    color: #666;
    cursor: pointer;
}
.history_all{
    background: -ms-linear-gradient(top, #7fadec,  #4c82c2);
    background:-moz-linear-gradient(top,#3663a6,#4c82c2);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#7fadec), to(#4c82c2));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fadec), to(#4c82c2));
    background: -webkit-linear-gradient(top, #7fadec, #4c82c2);
    background: -o-linear-gradient(top, #7fadec, #4c82c2);
    color: #fff;
    border: none;
}
/* 搜索 */
.history_search_div{
    border:2px solid #58aefe;
    border-radius:20px;
    /* margin-top:34px; */
}
.history_seach{
    width: 284px;
    height: 26px;
    -moz-box-shadow:0px 3px 3px #a7abae inset;
    -webkit-box-shadow:0px 3px 3px #a7abae inset;
    box-shadow:0px 3px 3px #a7abae inset;
    line-height: 26px;
    padding-left: 5px;
    border-radius: 20px;
    outline:none;
    border:0;
}
.history_search_img{
    width:35px;
    height:30px;
    text-align:center;
    line-height:36px;
    background:#f7f7f7;
    border-radius:5px;
    /* 	margin-top:38px; */
    box-shadow:0px 1px 3px 0px #c7c7c7;
}
.history_no_button{
    border: 0;
    box-shadow: none;
    background: none;
    margin-top:38px;
}
.history_no_button img{width: 30px;height: 30px;margin-top:-5px;}
/* .history_input_img{margin-top:6px;} */
/*表格q*/
.history_table_content,.history_table_content1{
    display:-webkit-flex;
    display:flex;
    width: 100%;
   /*  height: 38px;
    line-height: 38px; */
}
.history_table_top,.history_table_top1{
    box-sizing:border-box;
    border:4px solid transparent;
    background-clip:padding-box,border-box;
    background-origin:padding-box,border-box;
    background-image:linear-gradient(#fff,#fff),linear-gradient(#d4d3d3,#f9f9f9);
    border-radius:20px;
    display:-webkit-flex;
    display:flex;
    width: 100%;
    height: 35px;
    line-height: 35px;
    /* margin-top: 20px; */
    box-shadow: 0 1px 2px 0 #eee;
}
.history_table_content,.history_table_content1{border-bottom:1px solid #ececec;}
.history_table_top div,.history_table_top1 div{
    background: -ms-linear-gradient(top, #2366c2,  #5fb2fd);
    background:-moz-linear-gradient(top,#2366c2,#5a8bc9);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#2366c2), to(#5fb2fd));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2366c2), to(#5fb2fd));
    background: -webkit-linear-gradient(top, #12366c2, #5fb2fd);
    background: -o-linear-gradient(top, #2366c2, #5fb2fd);
    color:#fff!important;
    -webkit-flex:1 1 100%;flex:1 1 100%;
    color:#fff;
    line-height:28px;
    font-size:14px;
}
.history_table_content div,.history_table_content1 div{
    -webkit-flex:1 1 100%;flex:1 1 100%;
    font-size: 12px;
    color: #333;
  /*   padding-left: 5px; */
    overflow: hidden;
}
.history_table_top div,.history_table_content div,.history_table_top1 div,.history_table_content1 div{
    border-left:0;
    overflow: hidden;
}
.history_table_content,.history_table_content1{
    display:-webkit-flex;
    display:flex;
    width: 100%;
    /* height: 38px;
    line-height: 38px; */
}
.history_table_top div:nth-child(1),.history_table_content div:nth-child(1){
	-webkit-flex:1 1 100%;
	flex:1 1 100%;
}
.history_table_top div:nth-child(2),.history_table_content div:nth-child(2){
	-webkit-flex:1.02 1.02 100%;
	flex:1.02 1.02 100%;
}
.history_table_top div:nth-child(3),.history_table_content div:nth-child(3){
	-webkit-flex:1.04 1.04 100%;
	flex:1.04 1.04 100%;
}
.history_table_top div:nth-child(4),.history_table_content div:nth-child(4){
	-webkit-flex:1.02 1.02 100%;
	flex:1.02 1.02 100%;
}
.history_table_top div:nth-child(5),.history_table_content div:nth-child(5){
	-webkit-flex:1.02 1.02 100%;
	flex:1.02 1.02 100%;
}
.history_table_top div:nth-child(6),.history_table_content div:nth-child(6){
	-webkit-flex:1.05 1.05 100%;
	flex:1.05 1.05 100%;
}
.history_table_top div:nth-child(7),.history_table_content div:nth-child(7){
	-webkit-flex:1.04 1.04 100%;
	flex:1.04 1.04 100%;
}
.history_table_top div:nth-child(8),.history_table_content div:nth-child(8){
	-webkit-flex:1.04 1.04 100%;
	flex:1.04 1.04 100%;
}
.history_table_top div:nth-child(9),.history_table_content div:nth-child(9){
	-webkit-flex:1.05 1.05 100%;
	flex:1.05 1.05 100%;
}
.history_table_top div:nth-child(10),.history_table_content div:nth-child(10){
	-webkit-flex:1 1 100%;
	flex:1 1 100%;
}

/* ding dan */

.history_table_top1 div:nth-child(1),.history_table_content1 div:nth-child(1){
	-webkit-flex:1.03 1.03 100%;
	flex:1.03 1.03 100%;
}
.history_table_top1 div:nth-child(4),.history_table_content1 div:nth-child(4){
	-webkit-flex:1.02 1.02 100%;
	flex:1.02 1.02 100%;
}
.history_table_top1 div:nth-child(5),.history_table_content1 div:nth-child(5){
	-webkit-flex:1.04 1.04 100%;
	flex:1.04 1.04 100%;
}
/* .history_table_top1 div:nth-child(7),.history_table_top1 div:nth-child(8),.history_table_top1 div:nth-child(9),
.history_table_content1 div:nth-child(7),.history_table_content1 div:nth-child(8),.history_table_content1 div:nth-child(9){
	-webkit-flex:1.06 1.06 100%;
	flex:1.06 1.06 100%;
} */

.history_table_top1 div:nth-child(7),.history_table_top1 div:nth-child(8),
.history_table_content1 div:nth-child(7),.history_table_content1 div:nth-child(8){
	-webkit-flex:1.06 1.06 100%;
	flex:1.06 1.06 100%;
}
.history_table_top1 div:nth-child(11),.history_table_top1 div:nth-child(10),.history_table_content1 div:nth-child(11),.history_table_content1 div:nth-child(10){
	-webkit-flex:1.02 1.02 100%;
	flex:1.02 1.02 100%;
}
/* .history_table_top1 div:nth-child(12),.history_table_content1 div:nth-child(12){
	-webkit-flex:1.06 1.06 100%;
	flex:1.06 1.06 100%;
}
.history_table_top1 div:nth-child(13),.history_table_content1 div:nth-child(13){
	-webkit-flex:1.06 1.06 100%;
	flex:1.06 1.06 100%;
} */

.history_table_content1:hover{
    background:#e1f2fd;
    border-radius:3px;
    border:0;
    box-shadow:0 1px 3px 0px #dcdcdc;
}
.history_table_content:hover{
    background:#e1f2fd;
    border-radius:3px;
    border:0;
    box-shadow:0 1px 3px 0px #dcdcdc;
}
.history_table_top div:nth-child(1){
    border-radius:20px 0 0 20px;
}
.history_table_top div:last-child{
    border-radius:0 20px 20px 0;
}
.history_table_top1 div:nth-child(1){
    border-radius:20px 0 0 20px;
}
.history_table_top1 div:last-child{
    border-radius:0 20px 20px 0;
}
.history_table_content div,.history_table_content1 div{
    border-top: 0;
    color: #888;
    font-size: 12px;
}
.history_overflow{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    /* cursor: pointer; */
}
.history_zhi{
    display: inline-block;
    border-radius:20px;
    width:70%;
    height:8px;
    background: -ms-linear-gradient(top, #e9e7e5,  #e3e1e0);
    background:-moz-linear-gradient(top,#e9e7e5,#e3e1e0);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#e9e7e5), to(#e3e1e0));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9e7e5), to(#e3e1e0));
    background: -webkit-linear-gradient(top, #e9e7e5, #e3e1e0);
    background: -o-linear-gradient(top, #e9e7e5, #e3e1e0);
}
.history_zhi.current_zhi{
    background: -ms-linear-gradient(top, #a8ed5c,  #40aa3f);
    background:-moz-linear-gradient(top,#fc9d71,#40aa3f);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#a8ed5c), to(#40aa3f));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a8ed5c), to(#40aa3f));
    background: -webkit-linear-gradient(top, #a8ed5c, #40aa3f);
    background: -o-linear-gradient(top, #a8ed5c, #40aa3f);
}
/* 模态框 */
.modalTabs{
    background-size:100% 100%;
    position: absolute;
    z-index: 10001;
    top: 50%;
    left: 50%;
    margin-left: -384px;
    margin-top: -235px;
}
.message_mod_tit{
    text-align:left;
    padding-left: 30px;
    color:#fff;
    line-height:60px;
    font-size:18px;
    border-bottom: 1px solid #eee;
    background: -ms-linear-gradient(top, #3461a4,  #6393d3);
    background:-moz-linear-gradient(top,#3461a4,#6393d3);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#3461a4), to(#6393d3));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3461a4), to(#6393d3));
    background: -o-linear-gradient(top, #3461a4, #6393d3);
}
.message_mod_main{
    width:585px;
    height:293px;
    margin:38px auto;
}

.message_mod_foot{
    text-align: right;
    margin-top: 20px;
}
.putIn_btn_T{
    display: inline-block;
    padding: 4px 34px;
    border-radius:20px;
    font-size: 14px;
    cursor: pointer;
    color:#333;
    background: -ms-linear-gradient(top, #d6e2f2,  #f5faff);
    background:-moz-linear-gradient(top,#d6e2f2,#f5faff);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#d6e2f2), to(#f5faff));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d6e2f2), to(#f5faff));
    background: -webkit-linear-gradient(top, #d6e2f2, #f5faff);
    background: -o-linear-gradient(top, #d6e2f2, #f5faff);
    box-shadow:0 -2px 5px #c4d1e1 inset;
}
.putIn_btn1{
    display: inline-block;
    padding: 4px 34px;
    border-radius:20px;
    font-size: 14px;
    cursor: pointer;
    background: -ms-linear-gradient(top, #1c51a3,  #5a8bc9);
    background:-moz-linear-gradient(top,#1c51a3,#5a8bc9);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#1c51a3), to(#5a8bc9));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c51a3), to(#5a8bc9));
    background: -webkit-linear-gradient(top, #1c51a3, #5a8bc9);
    background: -o-linear-gradient(top, #1c51a3, #5a8bc9);
    box-shadow:0 -2px 5px #4374ae inset;
}
.history_back_index:hover{color:#fff;}
.history_overflow:hover{color:#888;}

.success_seach_box{
    height:63px;
    line-height:63px;
    padding:0 35px;
    background: -ms-linear-gradient(top, #1c51a3,  #5a8bc9);
    background:-moz-linear-gradient(top,#1c51a3,#5a8bc9);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#1c51a3), to(#5a8bc9));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c51a3), to(#5a8bc9));
    background: -webkit-linear-gradient(top, #1c51a3, #5a8bc9);
    background: -o-linear-gradient(top, #1c51a3, #5a8bc9);
    border-radius:5px;
    position: relative;
}
.sanjiao{
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    bottom: 0px;
    left: 14px;
}
.Yxtabbtn{
	font-size:14px;
	color:#a4cbff;
	cursor:pointer;
	position: relative;
	display:inline-block;
	margin-right: 14px;
}
.mr28{margin-right:28px;}
.DDtabBox,.BJtabBox,.YXBZtabBox{
	padding:10px 28px;
}
.mb10{
	margin-bottom:10px;
}
.success_search_div1{
    border:4px solid #448fd8;
    border-radius:20px;
    /* margin-top: -6px; */
   margin-right: 10px;
}
.success_seach{
    width: 200px;
    height: 30px;
    -moz-box-shadow:0px 3px 3px #a7abae inset;
    -webkit-box-shadow:0px 3px 3px #a7abae inset;
    box-shadow:0px 3px 3px #a7abae inset;
    line-height: 30px;
    padding-left: 5px;
    border-radius: 20px;
    outline:none;
    border: none;
}