
/*导航q*/
a{text-decoration:none!important;}
.add_nav_box{
	height: 118px;
	width: 100%;
	line-height: 118px;
	background: -ms-linear-gradient(top, #436eaf,  #7da5da);
	background:-moz-linear-gradient(top,#436eaf,#7da5da);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#436eaf), to(#7da5da));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#436eaf), to(#7da5da));
	background: -webkit-linear-gradient(top, #436eaf, #7da5da);
	background: -o-linear-gradient(top, #436eaf, #7da5da);
}
/* .add_nav{padding:0 15px;} */
.add_nav_ul{height:118px;}
.add_nav_ul li{
	cursor: pointer;
	height:118px;
}
.add_nav_ul li a{
	display: inline-block;
	padding:0px 18px;
	border: 1px solid transparent;
	font-family:"微软雅黑";
	color:#fff;
	margin-top:15px;
	height:84px;
	border-radius:3px;
}
.add_nav_ul li a.select{
	background:-webkit-gradient(linear, left top, left bottom, from(#123a77), to(rgba(85, 140, 217, 0.8)));
	background:-webkit-linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
	background:-o-linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
	background:-moz-linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
	background:linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
	border-radius:5px;
	color:#9fc9ff;
	/* box-sizing:border-box;
	border:1px solid transparent;
	background-clip:padding-box,border-box;
	background-origin:padding-box,border-box;
	background-image:linear-gradient(#6d90c4,#6d90c4),linear-gradient(#557cb3,#496ea1);  */
}
.add_nav_ul li:nth-child(1){margin-left: 0;}
.add_nav_ul li a:hover{
	/* color: #078FFF;
	border-bottom: 2px solid #078FFF; */
	background:-webkit-gradient(linear, left top, left bottom, from(#123a77), to(rgba(85, 140, 217, 0.8)));
	background:-webkit-linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
	background:-o-linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
	background:-moz-linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
	background:linear-gradient(top, #123a77, rgba(85, 140, 217, 0.8));
	color:#9fc9ff;
}
.add_nav_ul li a i{
	position: absolute;
    top: -32px;
    left: 29px;
    font-size: 33px;
}
.sanjiao{
	width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #184488;
    border-left: 10px solid transparent;
    bottom: 0px;
    left: 38px;
}
/* .add_nav_ul li a.current{
	color: #078FFF;
	border-bottom: 2px solid #078FFF
} */
.add_nav_ul_right{
	cursor: pointer;
	height:28px;
	width:100px;
	border-radius:20px;
	line-height:28px;
	text-align:center;
	background:-webkit-gradient(linear, left top, left bottom, from(#f7fafe), to(rgba(216, 228, 246, 1)));
	background:-webkit-linear-gradient(top, #f7fafe, rgba(216, 228, 246, 1));
	background:-o-linear-gradient(top, #f7fafe, rgba(216, 228, 246, 1));
	background:-moz-linear-gradient(top, #f7fafe, rgba(216, 228, 246, 1));
	background:linear-gradient(top, #f7fafe, rgba(216, 228, 246, 1));
	box-shadow:0 1px 5px 0px #4889df;
}
/*配置导航q-*/
.config_seach_box{
	height:100px;
	background: -ms-linear-gradient(top, #1c51a3,  #5a8bc9);
	background:-moz-linear-gradient(top,#1c51a3,#5a8bc9);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#1c51a3), to(#5a8bc9));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c51a3), to(#5a8bc9));
	background: -webkit-linear-gradient(top, #1c51a3, #5a8bc9);
	background: -o-linear-gradient(top, #1c51a3, #5a8bc9);
	border-radius:5px;
}
.config_search_div{
	border:4px solid #448fd8;
	border-radius:20px;
	margin-top:34px;
}
.config_seach{
	width: 384px;
	height: 30px;
	-moz-box-shadow:0px 3px 3px #a7abae inset;
	-webkit-box-shadow:0px 3px 3px #a7abae inset; 
	box-shadow:0px 3px 3px #a7abae inset;                 
	line-height: 30px;
	padding-left: 5px;
	border-radius: 20px;
	outline:none;
	border:0;
}
.config_search_img{
	width:45px;
	height:36px;
	text-align:center;
	line-height:36px;
	background:#3c77c8;
	border-radius:5px;
	margin-top:38px;
	box-shadow:0px 0px 0px 1px #588acd;
}
.config_no_button{
	border: 0;
	box-shadow: none;
	background: none;
	margin-top:38px;
}
.config_no_button img{width: 30px;height: 30px;margin-top:-5px;}
/* 配置导航q */
.config_con_ul li{
	margin-top:34px;
	color:#9fc9ff;
	font-size:14px;
	padding:4px 16px;
	border-radius:20px;
	cursor: pointer;
}
.config_con_ul li i{
	font-size: 20px;
}
.config_con_ul li:hover,.config_con_ul li.current{
	color:#fff;
	background: -ms-linear-gradient(top, #073272,  #548bd9);
	background:-moz-linear-gradient(top,#073272,#548bd9);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#073272), to(#548bd9));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#073272), to(#548bd9));
	background: -webkit-linear-gradient(top, #073272, #548bd9);
	background: -o-linear-gradient(top, #073272, #548bd9);
}
/* 配置系统名称q */
.config_zhe{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(66,66,66,.9);
}
.config_zhe_box{
	width:600px;
	height:400px;
	background: rgba(240,240,240,239);
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-200px;
	margin-left:-300px;
	padding:60px 60px;
}
.config_zhe_input{
	padding:40px 20px;
	background: #fff;
	width:100%;
	border-radius:3px;
	border:none;
	font-size:24px;
	color:#666;
	box-shadow:0px -1px 2px 0px #606060;
}
.config_zhe_que{
	background: -ms-linear-gradient(top, #7fadec,  #4c82c2);
	background:-moz-linear-gradient(top,#3663a6,#4c82c2);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#7fadec), to(#4c82c2));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fadec), to(#4c82c2));
	background: -webkit-linear-gradient(top, #7fadec, #4c82c2);
	background: -o-linear-gradient(top, #7fadec, #4c82c2);
	color: #fff;
	border: none;
	padding:7px 28px;
	border-radius:20px;
	cursor: pointer;
}

/* 模态框 */
.modalTabs{
    background-size:100% 100%;
    position: absolute;
    z-index: 10001;
    top: 50%;
    left: 50%;
    margin-left: -384px;
    margin-top: -235px;
}
.message_mod_tit{
    text-align:left;
    padding-left: 30px;
    color:#fff;
    line-height:60px;
    font-size:18px;
    border-bottom: 1px solid #eee;
    background: -ms-linear-gradient(top, #3461a4,  #6393d3);
    background:-moz-linear-gradient(top,#3461a4,#6393d3);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#3461a4), to(#6393d3));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3461a4), to(#6393d3));
    background: -o-linear-gradient(top, #3461a4, #6393d3);
}
.message_mod_main{
    width:585px;
    height:293px;
    margin:38px auto;
}

.message_mod_foot{
    text-align: right;
    margin-top: 20px;
}

.move_haveStrUl{
    list-style: none;
    overflow: auto;
    height: 236px;
    margin-top: 20px;
    border:1px solid #59afff;
    padding:0 20px;
    border-radius: 6px;
}
.move_haveStrUl li{
    padding-left: 20px;
    font-size: 16px;
    color:#333;
    line-height: 36px;
    border-bottom: 1px dotted #eee;
}
.move_haveStrUl li:hover{
    background:#e1f2fd;
    border-radius:3px;
    border:0;
    box-shadow:0 1px 3px 0px #dcdcdc;
}
.move_haveStrLiAct{
    background:#e1f2fd;
    border-radius:3px;
    border:0;
    box-shadow:0 1px 3px 0px #dcdcdc;
}

/* 删除 */
.message_mod_foot .putIn_btn1 {
    display: inline-block;
    padding: 4px 34px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    background: -ms-linear-gradient(top, #1c51a3, #5a8bc9);
    background: -moz-linear-gradient(top,#1c51a3,#5a8bc9);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#1c51a3), to(#5a8bc9));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1c51a3), to(#5a8bc9));
    background: -webkit-linear-gradient(top, #1c51a3, #5a8bc9);
    background: -o-linear-gradient(top, #1c51a3, #5a8bc9);
    box-shadow: 0 -2px 5px #4374ae inset;
}
.message_mod_foot .putIn_btn_T {
    display: inline-block;
    padding: 4px 34px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    color: #333;
    background: -ms-linear-gradient(top, #d6e2f2, #f5faff);
    background: -moz-linear-gradient(top,#d6e2f2,#f5faff);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#d6e2f2), to(#f5faff));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d6e2f2), to(#f5faff));
    background: -webkit-linear-gradient(top, #d6e2f2, #f5faff);
    background: -o-linear-gradient(top, #d6e2f2, #f5faff);
    box-shadow: 0 -2px 5px #c4d1e1 inset;
}
